@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoRegular/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular/RobotoRegular.otf') format('otf');
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBold/RobotoBold.eot') format('embedded-opentype'),
         url('../fonts/RobotoBold/RobotoBold.woff') format('woff'),
         url('../fonts/RobotoBold/RobotoBold.otf') format('otf');
    font-weight: bold;
}