body{
    font-family: "Roboto";	
    color: #1c497a;
    margin: 0;
    padding: 0;
    font-size: 20px;
    background: #0091D0;
}
ol, ul {list-style: none;}
blockquote, q { quotes: none;}
:focus {outline: 0;}
a { outline: none; -moz-outline: 0;}
a:active { outline: none; -moz-outline: 0; }
a:focus { outline: none; -moz-outline: 0; }
input, select, button, .select2-container .select2-selection--single{
    outline: none !important;
    -moz-outline: 0;
    border-radius: 0;
}
h1,h2,h3,p,ul{margin: 0; padding: 0; line-height: 1.2;}
h1{
    font-size: 48px;
    margin: 0px 0px 15px 0px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    line-height: 48px;
}
a{color: #295133;}
a:hover{text-decoration: none;}
label{font-weight: bold;}
.wrap{
    width: 100%;
    min-width: 1245px;
    background: #fff;
}
.wrap-container{
    position: relative;
}
.wrap-header{
    min-height: 70px;
    background: #fff;
}
header{
    width: 1245px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px 20px 8px 20px;
    position: relative;
}
.header-logo{
    display: inline-block;
    vertical-align: middle;
    background: url('../img/logo.png') 50% 50% no-repeat transparent;
    width: 140px;
    height: 50px;
    margin-right: 50px;
}
.toggle-menu{
    display: none;
}
.menu{
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    box-sizing: border-box;
    width: 1040px;
}
.menu ul{
    display: inline-block;
    vertical-align: middle;
}
.menu li{
    float: left;
    padding: 15px 8px 19px 3px;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
    margin-right: 40px;
}
.menu .item,.menu .item .link{
    color: #000;
    text-decoration: none;
    font-size: 19px;	
}
.menu .item.active,
.menu .item.active .link{
    font-weight: bold;
}
.menu .item .link:hover{
    text-decoration: underline;
}
.right-menu{
    display: inline-block;
    vertical-align: top;
    float: right;
}
.menu .cabinet-link{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    background: #ee1c25;
    padding: 12px 40px;
    border-radius: 25px;
    text-decoration: none;
}
.menu .menu-btn-auth{
    display: inline-block;
    background: #c9c9c9;
    padding: 12px 40px;
    border-radius: 25px;
}
.menu .menu-btn-auth span,
.menu .menu-btn-auth a{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}
.content{
    padding-bottom: 65px;
    min-height: 415px;
}
.content .content-inner{
    margin: 0 auto;
    max-width: 1245px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 1;
}
.content .content-inner-top{
    padding-top: 40px;
}
.content-inner-top{
    overflow-x: hidden;
    position: relative;
    padding-bottom: 60px;
    background: #daeff7; /* Для старых браузров */
    background: linear-gradient(to top, #daeff7, #008fcc);
    background: -webkit-linear-gradient(top, #008fcc 0%, #daeff7 100%);
    background: url('../img/bg-middle.png') 50% 100% repeat-x, linear-gradient(to top, #daeff7, #008fcc);
    background: url('../img/bg-middle.png') 50% 100% repeat-x, -webkit-linear-gradient(top, #008fcc 0%, #daeff7 100%);
}
.content-inner-top:before,
.content-inner-top:after,
.gradient-all:before,
.gradient-all:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 300px; 
}
.content-inner-top:after,
.gradient-all:after{
    left: 50%;
}
.gradient-all{
    overflow-x: hidden;
    position: relative;
    background: #daeff7; /* Для старых браузров */
    background: linear-gradient(to top, #daeff7, #008fcc);
    background: -webkit-linear-gradient(top, #008fcc 0%, #daeff7 100%);
}
.wrap-footer{
    width: 100%;
    background: url('../img/bg-footer.png') 50% 0% repeat-x transparent;
    padding-top: 13px;
    padding-botttom: 50px;
    margin-top: -12px;
    z-index: 5;
    position: relative;
}
.wrap-footer-inner{
    background: #0091D0;
}
.footer{
    text-align: center;
}
.footer-menu{
    display: inline-block;
    padding: 33px 0;
}
.footer-menu li{
    display: inline-block;
    margin-right: 60px;
}
.footer-menu li:last-child{
    margin-right: 0;
}
.footer-menu li a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.footer-menu li a:hover{
    text-decoration: underline;
}

/* fields and btns && other helpers*/
.input-block{
    text-align: left;
}
.input-block label{
    font-weight: normal;
    margin-bottom: 5px;
    display: inline-block;
}
.input-block input,
.input-block select,
.input-block .select2 .select2-selection,
.input-block textarea{
    background: #fff;
    border: 1px solid #94c0d5;
    padding: 8px 10px;
    width: 100%;
    color: #5d4b4c;
    font-size: 17px;
    box-sizing:border-box;
}

.input-block .select2-container .select2-selection--single,
.input-block .select2-container--default .select2-selection--single .select2-selection__rendered{
    height: auto; 
    line-height: normal;
    color: #93b733;
}
.input-block .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 20px;
}
.input-block .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none;
    height: 10px;
    width: 15px;
    left: -5px;
    margin-left: 0;
    margin-top: 0;
    background: url('../img/select-arr.png') 50% 50% no-repeat transparent;
}
.input-error input{
    border-color: #f31b0d;
}
.input-error-text{
    margin-top: 5px; 
    display: none;
    font-size: 13px;
}
.input-error .input-error-text{
    display: block;
}
.input-error-text{
    color: #ff0000;
}
.btn-primary{
    border-radius: 41px;
    border: none;
    padding: 25px 40px;
    font-size: 27px;
    color: #ee1c25;
    background: #f3f201;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
}
.btn-default{
    border-radius: 33px;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    color: #fff;
    background: #41679c;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
}
.input-block-required label:after{
    content: "*";
    font-size: 20px;
    color: #fff;
    margin-left: 5px;
    
}
.checkbox-block{
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 28px;
    border: 1px solid #94c0d5;
    border-radius: 6px;
    cursor: pointer;
    padding: 3px;
    margin-right: 5px;
    vertical-align: middle;
    text-align: center;
    background: #fff;
}
.checkbox-on:before{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #41679c;
}
.checkbox-block input{
    display:none;
}
.text-required-info{
   padding-left: 20px;
   font-size: 13px;
}
.captcha-block>div,
.captcha-block>input{
    display: inline-block;
    vertical-align: middle;
}
.captcha-img{
    border: 1px solid #295234;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #295234;
    height: 32px;
    line-height: 32px;
    width: 167px;
    text-align: center;
    box-sizing: border-box;
    background: #f6f7c5;
}
.captcha-reload a{
    background: url('../img/captcha-reload.png') 50% 50% no-repeat transparent;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 7px;
}
div.browse-wrap {
    //margin:10px;
    cursor:pointer;
    overflow:hidden;
    position:relative;
}
input.upload {
    right:0;
    margin:0;
    bottom:0;
    padding:0;
    opacity:0;
    height:300px;
    outline:none;
    cursor:inherit;
    position:absolute;
    font-size:1000px !important;
}
span.upload-path {
    text-align: left;
    margin: 10px;
    display: block;
    font-size: 80%;
}
.link-upload{
    color: #295133;
    text-decoration: underline;
}
.link-upload:hover{
    text-decoration: none;
}
.input-radio-block{
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 28px;
    border: 1px solid #41679c;
    border-radius: 25px;
    cursor: pointer;
    padding: 3px;
    margin-right: 5px;
    vertical-align: middle;
    text-align: center;
    background: #fff;
}
.input-radio-block:last-child{
    margin-left: 25px;
}
.input-radio-block.radio-on:before{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #41679c;
    border-radius: 18px;
}
.input-radio-block input{
    display: none !important;
}
.table{
    display: table;
    width: 100%
}
.table .table-th,
.table .table-td{
    display: inline-block;
    vertical-align: top;
    display: table-cell;
    padding: 5px;
}
.ui-datepicker{
    z-index: 50 !important;
}


/* helpers */
.clearfix:after{content:".";clear:both;display:block;height:0;font-size:0;visibility:hidden}
.mright-10{margin-right: 10px;}
.mright-15{margin-right: 15px;}
.mtop-10{margin-top: 10px;}
.mtop-15{margin-top: 15px;}
.mtop-20{margin-top: 20px;}
.mtop-30{margin-top: 30px;}
.mtop-50{margin-top: 50px;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.inline-block{display: inline-block;}
.show{display: inline-block !important;}

/*login page */
.content-login .content-inner-top:before{
    background: url('../img/bubbles.png') 100% -200% no-repeat transparent;
    margin-left: -192px;
}
.content-login .content-inner-top:after{
    background: url('../img/bubbles.png') 200px 0% no-repeat transparent;
}
.content-login .content-inner{
    width: 330px;
    text-align: center;
}
.content-login .social-block{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}
.content-login .social-block label{
    color: #fff;
    font-size: 31px;
    margin-right: 6px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 33px;
}
.soc-link{
    display: inline-block;
    vertical-align: middle;
    width: 66px;
    height: 66px;
    margin-right: 2px;
    background: url('../img/socials.png') 0 50% no-repeat transparent;
}    
.soc-vk{background-position: -2px 50%;}
.soc-fb{background-position: -75px 50%;}
.soc-ok{background-position: -147px 50%;}
.content-login .submit-block{
    margin-top: 10px;
}
.content-login .submit-block .btn-primary{
    width: 100%;
    text-align: center;
    background: url('../img/login.png') 92% 50% no-repeat #f3f201;
}
.content-login .addit-btns-block{
    margin-top: 10px;
}
.content-login .addit-btns-block .btn-default{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}
.content-login .reg-btn{
    background: url('../img/signup.png') 92% 50% no-repeat #41679c;
}
.content-login .remember-btn{
    background: url('../img/remember.png') 92% 50% no-repeat #41679c;
}

/*signup-success page */
.content-signup-success{
    padding-bottom: 20px;
}
.content-signup-success.gradient-all:before{
    width: 100%;
    background: url('../img/bubbles.png') 50% 80px no-repeat transparent;
}
.content-signup-success .content-inner{
    max-width: 785px;
    text-align: left;
    padding-top: 80px;
}
.content-signup-success .content-inner h1{
    margin-bottom: 30px;
}

/*faq page */
.content-faq{
    min-width: 1245px;
    padding-bottom: 20px;
}
.content-faq .content-inner-top:after{
    background: url('../img/bubbles.png') 20px 115px no-repeat transparent;
}
.content-faq .content-inner {
    padding-top: 0px;
}
.content-faq .content-inner h1{
    margin-bottom: 30px;
}
.content-faq .faq-block{
    width: 1245px;
    margin: 0 auto;
}
.faq-item{
    margin-bottom: 50px;
}
.faq-item .faq-title{
    font-size: 31px;
    color: #acbed8;
    border-bottom: 1px solid #9CDCF0;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.faq-item .faq-title span{
    color: #1c497a;
}
.faq-item .faq-question{
    margin-bottom: 25px;
    font-weight: bold;
}
.faq-item .faq-question,
.faq-item .faq-answer{
    max-width: 1150px;
}

/* feedback-form page */
.content-feedback-form{
    min-width: 1245px;
    padding-bottom: 150px;
}
.content-feedback-form .content-inner-top:after{
    background: url('../img/bubbles.png') 70px 0% no-repeat transparent;
}
.content-feedback-form .content-inner {padding-top: 0px;}
.content-feedback-form .content-inner h1{
    margin-bottom: 50px;
}
.content-feedback-form .content-inner .btn-default {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    box-sizing: border-box;
    line-height: normal;
    vertical-align: middle;
}
.btn-feedback-history{
    padding-right: 50px;
    background: url('../img/history.png') 91% 50% no-repeat #41679c;
}
.feedback-form-block .input-block{
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
.feedback-form-block .input-block label{
    display: block;
}
.feedback-form-block .input-block input,
.feedback-form-block .input-block select{
    width: 310px;
}
.feedback-form-block .input-block textarea{
    width: 628px;
    height: 225px;
}
.feedback-form-block .upload-check-block label{
    font-weight: normal;
    margin-bottom: 5px;
    margin-left: 10px;
}
.feedback-form-block .upload-check-block .upload-path{
    color: #000;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    width: 170px;
    overflow: hidden;
}
.feedback-form-block .upload-check-block .browse-wrap{
    display: inline-block;
    vertical-align: middle;
}
.browse-wrap .btn-default{
    padding-right: 50px;
    background: url('../img/select.png') 91% 50% no-repeat #41679c;
}
.feedback-form-middle{
    margin-top: 15px;
    margin-bottom: 20px;
}
.content-feedback-form .captcha-block{
    position: absolute;
    margin-top: -30px;
}
.content-feedback-form .submit-block{
    text-align: center;
    margin-top: 25px;
}
.btn-send{
    padding-right: 100px;
    background: url('../img/send.png') 91% 50% no-repeat #f3f201;
}

/*new-pass page */
.content-new-pass {
    padding-top: 40px;
}
.content-new-pass.gradient-all:before{
    margin-left: -135px;
    background: url('../img/bubbles.png') 100% 157px no-repeat transparent;
}
.content-new-pass.gradient-all:after{
    background: url('../img/bubbles.png') 105px 130px no-repeat transparent;
}
.content-new-pass .content-inner {
    text-align: center;
}
.content-new-pass .input-block {
    display: inline-block;
    width: 300px;
}
.content-new-pass .submit-block{
    margin-top: 50px;
}
.content-new-pass .submit-block .btn-new-pass{
    padding-right: 90px;
    background: url('../img/new-pass.png') 92% 50% no-repeat #f3f201;
}

/* signup page */
.content-signup{
    min-width: 1245px;
    padding-bottom: 150px;
}
.content-signup .content-inner-top:after{
    background: url('../img/bubbles.png') 70px 0% no-repeat transparent;
}
.content-signup .social-block{
    margin-top: 20px;
    margin-bottom: 20px;
}
.content-signup .social-block label{
    color: #fff;
    font-size: 31px;
    margin-right: 15px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 33px;
}
.content-signup .input-block{
    display: inline-block;
    vertical-align: top;
    margin: 5px 5px 5px 0;
    width: 305px;
}
.content-signup .input-block label{
    display: block;
}
.content-signup .input-block-sex{
    margin-left: 20px;
}
.content-signup .input-birthdate-block{
    width: 200px;
    margin-left: 10px;
}
.content-signup .input-birthdate-block input{
    padding-right: 40px;
    background: url('../img/cal.png') 95% 50% no-repeat #fff;
}
.content-signup hr{
    border: none;
    border-top: 1px solid #fff;
    margin: 20px 0 10px 0;
}
.content-signup .accept-block{
    margin: 20px 0;
}
.content-signup .accept-block>div {
    display: inline-block;
}
.content-signup .captcha-block,
.content-signup .submit-block{
    display: inline-block;
    vertical-align: middle;
}
.content-signup .submit-block{
    margin-left: 70px;
}
.content-signup .submit-block .btn-signup{
    padding-right: 75px;
    background: url('../img/login.png') 94% 50% no-repeat #f3f201;
}

/* reset-pass page */
.content-reset-pass{
    padding-top: 40px;
}
.content-reset-pass.gradient-all:before{
    margin-left: -135px;
    background: url('../img/bubbles.png') 100% 157px no-repeat transparent;
}
.content-reset-pass.gradient-all:after{
    background: url('../img/bubbles.png') 105px 130px no-repeat transparent;
}
.content-reset-pass .content-inner {
    text-align: center;
}
.content-reset-pass .input-block {
    display: inline-block;
    width: 340px;
}
.content-reset-pass .captcha-block{
    margin-top: 20px;
}
.content-reset-pass .submit-block{
    margin-top: 50px;
}
.content-reset-pass .submit-block .btn-reset-pass{
    padding-right: 90px;
    background: url('../img/reset-pass.png') 92% 50% no-repeat #f3f201;
}

/* confirm-email page */
.content-confirm-email.gradient-all:before{
    margin-left: -200px;
    background: url('../img/bubbles.png') 100% 100px no-repeat transparent;
}
.content-confirm-email.gradient-all:after{
    background: url('../img/bubbles.png') 105px 75px no-repeat transparent;
}
.content-confirm-email .content-inner {
    text-align: center;
    max-width: 750px;
    padding-top: 120px;
}
.content-confirm-email .content-inner h1{
    margin-bottom: 50px;
}
.content-confirm-email .btn-primary{
    width: 350px;
    text-align: center;
    height: 80px;
    line-height: 25px;
    vertical-align: middle;
    padding: 14px 20px;
}

/* feedback page */
.content-feedback{
    min-width: 1245px;
}
.content-feedback .content-inner-top:after{
    background: url('../img/bubbles.png') 400px 0% no-repeat transparent;
}
.content-feedback h1{
    margin-bottom: 50px;
}
.feeback-item{
    max-width: 1000px;
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    padding: 0 80px;
}
.feedback-title{
    color: #000;
    margin-bottom: 10px;
}
.feeback-question{
    margin-bottom: 20px;
}
.feeback-question b,
.feeback-answer b{
    color: #000;
    margin-right: 5px;
}
.content-feedback .submit-block{
    text-align: center;
    margin-top: 50px;
}
.feeback-nav-l,
.feeback-nav-r{
    position: absolute;
    width: 77px;
    height: 77px;
    top: 5px;
    left: -20px;
    z-index: 5;
    background: url('../img/nav-slide-l.png') 50% 50% no-repeat transparent;
}
.feeback-nav-r{
    background-image: url('../img/nav-slide-r.png');
    left: auto;
    right: -20px;
}


/* content-prizes */
.content-prizes{
    min-width: 1290px;
}
.content-prizes .content-inner-top:before{
    width: 100%;
    background: url('../img/bubbles.png') 50% 0% no-repeat transparent;
}
.content-prizes h1{
    margin-bottom: 40px;
}
.content-prizes .content-inner-top{
    padding-bottom: 0px;
    margin-bottom: 20px;
}
.content-prizes .rules-header{
    font-size: 31px;
    color: #fff;
    margin-bottom: 70px;
}
.content-prizes .prize-week span,
.content-prizes .prize-month span,
.content-prizes .prize-main span{
    font-size: 28px;
    font-weight: bold;
    line-height: 25px;
}
.content-prizes .prize-week,
.content-prizes .prize-month,
.content-prizes .prize-main{
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    width: 370px;
    height: 320px;
    margin-right: 50px;
    background: url('../img/prizes_1.png') 50% 50% no-repeat transparent;
}
.content-prizes .prize-month{
    margin-right: 85px;
    background-image: url('../img/prizes_2.png');
}
.content-prizes .prize-main{
    margin-right: 0;
    width: 360px;
    height: 315px;
    margin-top: -30px;
    background-image: url('../img/prizes_3.png');
    position: relative;
}
.content-prizes .prize-main span{
    position: absolute;
    display: inline-block;
    color: #ee1c25;
    left: 197px;
    top: 180px;
    text-align: center;
}
.content-prizes .l-col,
.content-prizes .r-col{
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.content-prizes .l-col{
    padding-right: 20px;
}
.content-prizes .r-col{
    padding-left: 20px;
}

/* content-about */
.content-about{  
    padding-bottom: 120px;
    overflow: hidden;
}
.content-about .gradient-all{
    padding-bottom: 80px;
    overflow: visible;
}
.content-about .gradient-all:before{
    width: 100%;
    background: url('../img/bubbles.png') 50% 60px no-repeat transparent;
    margin-left: -150px;
}
.content-about .content-inner{
    min-width: 1245px;
    padding-top: 120px;
}
.content-about .l-col{
    display: inline-block;
    vertical-align: top;
}
.content-about .content-inner h1{
    text-align: left;
    width: 470px;
}
.content-about .about-text{
    width: 470px;
}
.content-about .about-btn-block{
    margin-top: 50px;
}
.content-about .about-btn-block .btn-primary{
    background: transparent;
    border: 1px solid #0164b7;
    width: 340px;
    text-align: center;
    color: #1c497a;
    padding: 10px 40px;
    line-height: 30px;
}
.content-about .about-powder{
    display: inline-block;
    vertical-align: bottom;
    width: 755px;
    height: 505px;
    background: url('../img/powder.png') 50% 50% no-repeat transparent;
    margin-bottom: -130px;
}

/* content-404 */
.content-404{  
    padding-top: 30px;
    padding-bottom: 0;
}
.content-404 .content-inner{
    width: 360px;
    text-align: center;
    background: url('../img/bubble.png') 50% 50% no-repeat transparent;
    padding: 100px 70px;
}
.content-404.gradient-all:before{
    background: url('../img/bubbles.png') 100% 60px no-repeat transparent;
    margin-left: -207px;
}
.content-404.gradient-all:after{
    background: url('../img/bubbles.png') 0% 80px no-repeat transparent;
    margin-left: -205px;
    width: 100%;
}
.content-404 h1 {
    margin-bottom: 5px;
}
.content-404 h1 span{
    color: #1c4979;
}
.content-404 .h2{
    font-size: 27px;
    color: #fff;
    margin-bottom: 25px;
}
.content-404 .eror-404-text{
    line-height: 31px;
    margin-bottom: 35px;
}
.content-404 .btn-block{
    margin-bottom: 25px;
}
.content-404 .btn-home{
    padding-right: 52px;
    background: url('../img/home.png') 89% 50% no-repeat #41679c;
}

/* content-cabinet */
.content-cabinet{  
    min-width: 1245px;
}
.content-cabinet .content-inner-top {
    padding-bottom: 110px;
}
.content-cabinet .content-inner-top:before{
    background: url('../img/bubbles.png') 100% 125px no-repeat transparent;
    margin-left: -230px;
}
.content-cabinet .content-inner-top:after{
    background: url('../img/bubbles.png') 0% 80px no-repeat transparent;
    margin-left: -205px;
    width: 100%;
}
.content-cabinet h1{
    margin-bottom: 35px;
}
.content-cabinet .h2{
    font-size: 31px;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
.content-cabinet .cabinet-form-block{
    //position: relative;
}
.content-cabinet .input-block{
    width: 310px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.content-cabinet .input-checkdate-block{
    width: 200px;
    margin-right: 70px;
}
.content-cabinet .input-checkdate-block input{
    padding-right: 40px;
    background: url('../img/cal.png') 95% 50% no-repeat #fff;
}
.content-cabinet .upload-path,
.content-cabinet div.browse-wrap {
    display: inline-block;
    vertical-align: middle;
}
.content-cabinet span.upload-path {
    margin: 0 40px 0 0;
    color: #000;
}
.content-cabinet .accept-block{
    margin-top: 20px;
}
.content-cabinet .submit-block{
    margin-top: 20px;
    text-align: center;
}
.btn-check{
    padding-right: 100px;
    background: url('../img/check-btn.png') 91% 50% no-repeat #f3f201;
    width: 370px;
}
.content-cabinet .check-img{
    background: url('../img/check.png') 91% 50% no-repeat transparent;
    width: 245px;
    height: 275px;
    position: absolute;
    bottom: -68px;
    right: 0;
}
.content-cabinet .checks-list-block .h2{
    color: #41679c;
    border-bottom: 1px solid #a5bcdb;
    margin-bottom: 10px;
}
.content-cabinet .checks-list-block .table-tr{
    margin-bottom: 15px;
}
.content-cabinet .checks-list-block .table-tr:first-child{
    margin-bottom: 25px;
}
.content-cabinet .checks-list-block .table-th{
    color: #a5bcdb;
}
.content-cabinet .checks-list-block .table-th,
.content-cabinet .checks-list-block .table-td{
    width: 220px;
}
.content-cabinet .checks-list-block .table-td{
    color: #1c171d;
}
.check-status-active{
    color: #2d753a;
    padding-left: 25px;
    background: url('../img/status_2.png') 0% 70% no-repeat transparent;
}
.check-status-moderate{
    color: #8c7191;
    padding-left: 25px;
    background: url('../img/status_1.png') 0% 70% no-repeat transparent;
}
.check-status-cancel{
    color: #e10000;
    padding-left: 25px;
    background: url('../img/status_3.png') 0% 70% no-repeat transparent;
}

/* content-winners */
.content-winners{  
    min-width: 1245px;
}
.content-winners .content-inner-top:after{
    background: url('../img/bubbles.png') 45px 115px no-repeat transparent;
}
.content-winners .content-inner{
    margin-top: 20px;
}
.content-winners h1{
    margin-bottom: 25px;
}
.winners-list-block .table-th{
    vertical-align: bottom;
    color: #a5bcdb;
}
.winners-list-block .table-th>span{
    margin-bottom: 5px;
    display: inline-block;
}
.winners-list-block .table .table-tr:nth-child(2n+1){
    background: #e7f5fc;
}
.winners-list-block .table .table-tr:first-child{
    border-bottom: 1px solid #a5bcdb;
    padding-bottom: 10px;
    background: #fff;
}
.winners-list-block .table .table-td,
.winners-list-block .table .table-th{
    padding-right: 15px;
    padding-left: 0;
    box-sizing: border-box;
}
.winners-list-block .table .table-td{
    padding-top: 15px;
    padding-bottom: 15px;
    color: #1c171d;
}
.winners-list-block .table .table-td:first-child{
    padding-left: 15px;
}
.winners-list-block .input-block .select2-container .select2-selection--single, 
.input-block .select2-container--default .select2-selection--single .select2-selection__rendered,
.winners-list-block .table .table-th input[type="text"],
.winners-pager-block>span{
    color: #1c171d;
}
.input-block .select2-container--default .select2-selection--single .select2-selection__rendered{
    margin-top: -2px;
    padding-bottom: 2px;
}
.winners-list-block .table .winners-th-sub{
    display: table-cell;
}
.winners-list-block .table .table-td:nth-child(1),
.winners-list-block .table .table-th:nth-child(1){
    width: 380px;
}
.winners-list-block .table .table-td:nth-child(2),
.winners-list-block .table .winners-th-sub .table-th:nth-child(1){
    width: 230px;
}
.winners-list-block .table .table-td:nth-child(3),
.winners-list-block .table .winners-th-sub .table-th:nth-child(2){
    width: 390px;
}
.winners-list-block .table .table-th .btn-default{
    width: 200px;
}
.winners-list-block .input-date-block input{
    padding-right: 40px;
    background: url('../img/cal.png') 95% 50% no-repeat #fff;
}
.winners-pager-block{
    margin-top: 50px;
    margin-left: 200px;
}
.winners-pager-block .input-block{
    display: inline-block;
    margin: 0 10px;
}
.winners-pager-block .input-block select{
    width: 70px;
}
.winners-pager-block .prev-page{
    margin-left: 10px;
    padding-left: 45px;
    padding-right: 30px;
    background: url('../img/page-arr-l.png') 15% 50% no-repeat #41679c;
}
.winners-pager-block .next-page{
    margin-left: 5px;
    padding-left: 30px;
    padding-right: 45px;
    background: url('../img/page-arr-r.png') 85% 50% no-repeat #41679c;
}

/* content-success */
.content-success{  
    padding-top: 30px;
}
.content-success .content-inner{
    width: 360px;
    text-align: center;
    background: url('../img/bubble.png') 50% 50% no-repeat transparent;
    padding: 100px 70px;
    height: 290px;
    line-height: 290px;
    vertical-align: middle;
}
.content-success.gradient-all:before{
    background: url('../img/bubbles.png') 100% 60px no-repeat transparent;
    margin-left: -207px;
}
.content-success.gradient-all:after{
    background: url('../img/bubbles.png') 0% 80px no-repeat transparent;
    margin-left: -205px;
    width: 100%;
}
.content-success .content-inner .content-inner-text{
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    color: #fff;
}
.content-success h1 {
    margin-bottom: 5px;
}
.content-success .btn-default{
    padding-left: 70px;
    padding-right: 70px;
}

/* content-index */
.wrap-index .wrap-footer{
    background: none;
    padding-top: 0px;
}
.wrap-index .wrap-footer .wrap-footer-inner{
    background: #008ecc;
}
.content-index{  
    padding: 0;
}
.content-index .content-inner{  
    max-width: none;
    padding: 0;
}
.content-index .index-top-block,
.content-index .index-middle-block,
.content-index .index-bottom-block{
    width: 100%;
    text-align: center;
    background: url('../img/index-top-bg.jpg') 50% 50% no-repeat transparent;
}
.content-index .index-top-block{
    height: 475px;
    background: url('../img/index-top-bg.jpg') 50% 50% no-repeat transparent;
}
.content-index .index-middle-block{
    height: 315px;
    background: #fff;
    margin-bottom: -2px;
    position: relative;
    padding-top: 20px;
    box-sizing: border-box;
}
.content-index .index-bottom-block{
    height: 940px;
    background: url('../img/index-bottom-bg.jpg') 50% 50% no-repeat #008ecc;
}
.content-index .index-action-info{
    width: 1245px;
    margin: 0 auto;
    text-align: left;
    padding-right: 700px;
    padding-top: 40px;
    box-sizing: border-box;
    color: #204787;
    font-size: 24px;
}
.content-index .index-action-info h1{
    font-size: 75px;
    color: #ee1c24;
    text-align: left;
    margin-bottom: 40px;
}
.content-index .index-action-info .btn-default{
    font-size: 24px;
    width: 415px;
    background: none;
    border: 1px solid #41679c;
    color: #204787;
    text-align: center;
    font-weight: normal;
    margin: 30px 0;
}
.content-index .index-action-info .index-action-info-ext{
    font-size: 16px;
    color: #575757;
    width: 300px;
}
.content-index .index-step-1,
.content-index .index-step-2,
.content-index .index-step-3{
    height: 280px;
    display: inline-block;
    vertical-align: middle;
}
.content-index .index-step-1{
    width: 415px;
    margin-right: 30px;
    background: url('../img/index-step-1.jpg') 50% 50% no-repeat transparent;
}
.content-index .index-step-2{
    width: 370px;
    margin-right: 1px;
    background: url('../img/index-step-2.jpg') 50% 50% no-repeat transparent;
}
.content-index .index-step-3{
    width: 380px;
    background: url('../img/index-step-3.jpg') 50% 50% no-repeat transparent;
}
.content-index .index-main-prize-title{
    font-size: 45px;
    color: #fff;
    padding: 60px 0 100px 0;
}
.content-index .index-main-prize{
    width: 482px;
    height: 422px;
    padding-left: 180px;
    margin: 0 auto;
    position: relative;
    background: url('../img/index-main-prize.png') 100% 50% no-repeat transparent;
}
.content-index .index-main-prize span{
    display: inline-block;
    position: absolute;
    font-size: 30px;
    color: #ee1c24;
    right: 9px;
    width: 200px;
    text-align: center;
    top: 195px;
    line-height: 27px;
    font-weight: bold;
}
.content-index .index-bottom-block .btn-primary{
    margin-top: 70px;
    width: 360px;
}



/* mobile styles */

@media only screen and (max-width : 768px) {
    body {}
    .wrap,
    header{
        min-width: 640px;
        width: auto;
        box-sizing: border-box;
    }
    .content .content-inner{
        max-width: none;
        width: auto;
    }
    .content{
        min-width: 640px;
        box-sizing: border-box;
    }
    .wrap-header {
        padding-top: 8px;
    }
    .header-logo {
        margin-left: 35px;
    }
    .menu{
        position: absolute;
        padding: 0;
        right: -1px;
        top: 70px;
        background: rgba(9, 178, 252, 0.8);
        margin-top: 0;
        display: none;
        z-index: 10;
        width: auto;
    }
    .menu ul {
        display: block;
    }
    .menu ul li{
        float: none;
        margin-right: 0;
        padding: 30px 90px;
        border-bottom: 1px solid #ddd;
    }
    .menu .item, .menu .item .link {
        color: #fff;
    }
    .right-menu {
        margin-left: 0; 
        display: block;
        vertical-align: top;
        float: none;
        text-align: center;
        margin: 25px 0;
    }
    .toggle-menu {
        font-size: 22px;
        cursor: pointer;
        display: inline-block;
        padding: 0px 60px 0px 20px;
        background: url('../img/menu-toggle.png') 90% 50% no-repeat transparent;
        position: absolute;
        right: 0;
        height: 78px;
        line-height: 78px;
        top: -8px;
        vertical-align: middle;
        box-sizing: border-box;
    }
    .toggle-menu-active {
        background-color: #e7f5fc;
    }
    .footer-menu {
        padding: 33px 0 33px 25px;
    }
    .footer-menu li {
        max-width: auto;
        text-align: left;
        float: left;
    }
    .footer-menu li:last-child {
        max-width: auto;
    }
    .content .content-inner{
        padding-left: 40px;
        padding-right: 40px;
    }
    .content-signup-success .content-inner{
        padding-top: 50px;
    }
    .content-signup-success .content-inner h1 span{
        display: block;
    }
    .content-faq{
        padding-top: 25px;
        min-width: auto;
    }
    .content-faq .content-inner-top:after{
        background: url('../img/bubbles.png') 20px 82px no-repeat transparent;
    }
    .content-faq .faq-block{
        width: auto;
        padding: 0;
    }
    .faq-item .faq-question, .faq-item .faq-answer {
        max-width: auto;
    }
    .content-feedback-form{
        min-width: auto;
        padding-bottom: 150px;
    }
    .feedback-form-middle {
        margin-bottom: 70px;
    }
    .feedback-form-block .input-block {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .feedback-form-block .input-block input,
    .feedback-form-block .input-block select{
        width: 100%;
    }
    .content-feedback-form .captcha-block {
        position: relative;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .feedback-form-block .input-block textarea {
        width: 100%;
    }
    .content-signup{
        min-width: auto;
    }
    .content-signup .content-inner-top:after{
        left: 0;
        width: 100%;
        background: url('../img/bubbles.png') 50% 100px no-repeat transparent;
    }
    .content-signup .content-inner{
        min-width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .content-signup .input-block{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .content-signup .input-birthdate-block input {
        background-position: 98% 50%;
    }
    .content-signup .accept-block {
        margin: 40px 0 20px 0;
    }
    .content-signup .accept-block>div {
        display: block;
        margin-bottom: 10px;
    }
    .content-signup .captcha-block,
    .content-signup .submit-block {
        display: block;
        text-align: center;
    }
    .content-signup .submit-block {
        margin: 30px 0 0 0;
    }
    .content-signup .social-block,
    .content-signup .social-block label {
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }
    .content-feedback{
        min-width: auto;
        padding-bottom: 120px;
    }
    .content-feedback .content-inner-top:before{
        width: 100%;
        background: url('../img/bubbles.png') 23% 116px no-repeat transparent;
    }
    .feeback-item {
        margin-bottom: 70px;
    }
    .content-confirm-email .content-inner{
        padding-bottom: 120px;
    }
    .content-confirm-email.gradient-all:before{
        width: 100%;
        background: url('../img/bubbles.png') 50% 80px no-repeat transparent;
        margin-left: 100px;
    }
    .content-confirm-email.gradient-all:after{
        background: none;
    }
    .content-prizes{
        min-width: 640px;
    }
    .content-prizes .content-inner-top{
        padding-bottom: 42px;
    }
    .content-prizes .rules-header {
        margin-bottom: 10px;
    }
    .content-prizes .prize-week, .content-prizes .prize-month, .content-prizes .prize-main {
        display: block;
        padding-top: 20px;
        width: 500px;
        margin-right: 0px;
        background-position: 100% 50%;
        box-sizing: border-box;
    }
    .content-prizes .prize-main {
        margin-top: 10px;
    }
    .content-prizes .prize-main span {
        left: 336px;
        top: 173px;
    }
    .content-about .content-inner {
        padding-top: 40px;
        min-width: 640px;
    }
    .content-about .l-col {
        display: block;
    }
    .content-about .content-inner h1 {
        text-align: center;
    }
    .content-about .about-text {
        width: 100%;
    }
    .content-about .about-btn-block {
        text-align: center;
    }
    .content-about .about-powder {
        display: block;
        margin-bottom: -150px;
        margin-left: -70px;
    }
    .content-404 .content-inner {
        padding: 100px 70px;
    }
    .content-cabinet{  
        min-width: 640px;
    }    
    .content-cabinet .content-inner {
        padding-left: 10px;
        padding-right: 10px;
    }
    .content-cabinet .input-block,
    .content-cabinet .input-checkdate-block input{
        width: 100%;
    }
    .content-cabinet .check-img{
        top: auto;
        bottom: -47px;
    }
    .content-cabinet .content-inner-top {
        padding-bottom: 90px;
        margin-bottom: 15px;
    }
    .content-cabinet .input-block label{
        display: block;
        margin-top: 10px;
    }
    .content-cabinet .accept-block .inline-block{
        width: 300px;
        vertical-align: top;
        margin-top: -5px;
        line-height: 20px;
    }
    .content-cabinet .submit-block {
        margin-top: 30px;
        text-align: left;
    }
    .content-cabinet .h2 {
        margin-bottom: 10px;
    }
    .content-cabinet .checks-list-block .table-tr .table-th:first-child,
    .content-cabinet .checks-list-block .table-tr .table-td:first-child {
        display: none;
    }
    .content-cabinet .checks-list-block .table-tr .table-th:nth-child(2),
    .content-cabinet .checks-list-block .table-tr .table-td:nth-child(2) {
        width: 120px;
    }
    .content-cabinet .checks-list-block .table-tr .table-th:nth-child(3),
    .content-cabinet .checks-list-block .table-tr .table-td:nth-child(3) {
        width: 150px;
    }
    .content-cabinet .checks-list-block .table-tr .table-th:nth-child(4),
    .content-cabinet .checks-list-block .table-tr .table-td:nth-child(4) {
        width: 210px;
    }
    .content-cabinet .checks-list-block .table-tr .table-th:last-child,
    .content-cabinet .checks-list-block .table-tr .table-td:last-child {
        width: 140px;
    }
    .content-winners{  
        min-width: 640px;
    }
    .content-winners .content-inner{  
        padding-left: 0px;
        padding-right: 0px;
    }
    .winners-pager-block {
        margin-top: 50px;
        margin-left: 50px;
    }
    .winners-list-block .table .winners-th-sub{
        display: table;
        width: 100%;
        box-sizing: border-box;
    }
    .winners-list-block .table .table-tr:nth-child(1){
        margin-left: 15px;
        margin-right: 15px;
    }
    .winners-list-block .table .table-td:nth-child(1){
        width: 350px;
    }
    .winners-list-block .table .winners-th-sub .table-th{
        width: 50% !important;
    }
    .winners-list-block .table .table-tr>.table-th:first-child{
        display: block;
        width: 100%;
    }
    .winners-list-block .table .table-tr>.table-th:last-child{
        display: none;
    }
    .content-success .content-inner {
        padding: 100px 70px;
    }
}